@media (max-width: 768px) {
    .hamburguer{
        display: block;
    }

    .navbar-logo svg{
        width: 50px;
        width: 50px;
    }
    
    .navbar .navbar-esquerda,
    .navbar .navbar-direita{
        display: none;
        max-width: 100%;
    }
    
    body{
        font-size: 1.6rem;
    }

    .product-container {
        flex-direction: column;
        max-width: 100%;
    }

    .product-left,
    .product-right {
        max-width: 100%;
        padding: 0 15px;
        text-align: center;
    }

    .product img {
        margin-bottom: 20px;
        max-width: 100%;
    }

    .btn{
        margin: 15px;
    }

    .banner-reverse .product-left,
    .banner-reverse .product-right {
        width: 100%;
        padding: 0 5px;
        max-width: 100%;
    }
    
    .banner-reverse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 40px 0;
    }
    
    .banner {
        display: flex;
        flex-direction: column-reverse; 
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 40px 0;
    }

    footer{
        width: 100%;
    }
}